#map{
    height: 100%;
    width: 100%;
}
.small-3{
    background-color: green;
    min-height: 100%;
}
.small-9{
    background-color: red;
    min-height: 100%;
}
.row {
    max-width: 100%;
    height: 100%;
}
body{
    background-color: #555555;
}

@media only screen and (max-width: 40em) {
    .overviewPic{
        max-width: 100% !important;
    }
    .leaflet-popup-content{
        max-width:255px !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 64.063em) {
    .overviewPic{
        max-width: 60% !important;
    }
    #missionPic{
        text-align: center;
    }
}

#linkPortal{
    color: black;
    text-decoration: underline;
}
/*set size for the picture in the mission-info-popup*/
.mapPic{
    width: inherit;
    /*margin-left: -10px;*/
    float: left;
}
.leaflet-popup{
    z-index: 180 !important;
    color: black;
}
.leaflet-popup p{
	margin: 2px !important;
}
.leaflet-control-layers-expanded{
    max-height: 500px !important;
    overflow: auto !important;
}
/* css for the overview page*/
span{
    font-weight: bold;
}
h4{
    text-align: center;
    font-weight: bold;
}
#a{
    height: 95%;
    padding-top: 5%;
}

.mapboxgl-ctrl-icon{
    margin:0 !important;
}
.mapboxgl-popup-close-button {
    display:none;
}
.mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro',  Sans-serif;
    padding:0;
    max-width:300px;
    max-height:500px;
    overflow-x: hidden;
    color: #fff;
    background: #333 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #333 !important;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: #333 !important;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #333 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #333 !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: #333 !important;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #333 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #333 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #333 !important;
}
.mapboxgl-popup-content h4 {
    background:#663399;
    color:#fff;
    padding:2px;
    border-radius:3px 3px 0 0;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 1px 1px;
    border: 2px solid #000000;
    background-color: transparent;
}
th {
    background-color: #eee;
}
th[data-sort]{
    cursor:pointer;
}
td {
    background-color: #ffffff;
}
td.cellPic {
    background: #555555;
}