#map{
    height: 100%;
    width: 100%;
}
body{
    background-color: #555555;
}

@media only screen and (max-width: 40em) {
    .overviewPic{
        max-width: 100% !important;
    }
    .leaflet-popup-content{
        max-width:255px !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 64.063em) {
    .overviewPic{
        max-width: 60% !important;
    }
    #missionPic{
        text-align: center;
    }
}

#linkPortal{
    color: black;
    text-decoration: underline;
}
/*set size for the picture in the mission-info-popup*/
.mapPic{
    width: inherit;
    /*margin-left: -10px;*/
    float: left;
}
.leaflet-popup{
    z-index: 180 !important;
    color: black;
}
.leaflet-popup p{
	margin: 2px !important;
}
.leaflet-control-layers-expanded{
    max-height: 500px !important;
    overflow: auto !important;
}
/* css for the overview page*/
span{
    font-weight: bold;
}
h4{
    text-align: center;
    font-weight: bold;
}
#a{
    height: 95%;
    padding-top: 5%;
}

.mapboxgl-ctrl-icon{
    margin:0 !important;
}
.mapboxgl-popup-content{
    max-width: 300px !important;
    max-height: 300px !important;
}
.mapboxgl-popup-content{
    overflow-y: scroll;
}
#sidebar{

    position: absolute;
    top: 5.625rem;
    left: 2.8125rem;
    bottom: 2.8125rem;
    width: 30%;
    color: white;
    background-color: #333333;
    opacity: 0.8;
}